<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-bmijangos/blob/main/Actividad1(IBM_Mod_1_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise: Your First Program

In [ ]:
# In the code cell below, use the print() function to print out the phrase: Hello, world!

print("Helo, world!")

Helo, world!

In [ ]:
# Now, let's enhance your code with a comment.
# In the code cell below, print out the phrase: Hello, world!
# and comment it with the phrase Print the traditional hello world all in one line of code.

print("Hello, world!")  # Print the traditional hello world

Hello, world!

# Exercise: Types

In [ ]:
# What is the data type of the result of: 6 / 2?

type(6/2)

float

In [ ]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)

type(6//2)

int

# Exercise: Expression and Variables in Python

In [ ]:
# What is the value of x where x = 3 + 2 * 2

x=3+2*2
print(x)

7

In [ ]:
# What is the value of x where x = 3 + 2 * 2

y=(3+2)*2
print(y)

10

In [ ]:
# What is the value of z where z = x + y?

z=x+y
print(z)

17

# Quiz on Strings

In [ ]:
# What is the value of the variable a after the following code is executed?

a = "1"

In [ ]:
# What is the value of the variable b after the following code is executed?

b = "2"

In [ ]:
# What is the value of the variable c after the following code is executed?

c = a + b
print(c)

12

In [ ]:
# Consider the variable d use slicing to print out the first three elements:

d = "ABCDEFG"

print(d[:3])

ABC

In [ ]:
# Use a stride value of 2 to print out every second character of the string e:

e = 'clocrkr1e1c1t'

print(e[::2])

correct

In [ ]:
# Print out a backslash:

print(r"\ ")

\

In [ ]:
# Convert the variable f to uppercase:

f = "You are wrong"

f.upper()

'YOU ARE WRONG'

In [ ]:
# Consider the variable g, and find the first index of the sub-string snow:

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

In [ ]:
# In the variable g, replace the sub-string Mary with Bob:

g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

# Create a Tuple

In [ ]:
# Create a tuple  (0,1,2,3)  and assign it to variable A:

A=(0,1,2,3)
print(A)

(0, 1, 2, 3)

# Find the Elements of a Tuple

In [ ]:
# Find the first two elements of tuple  A :

A[0:2]

(0, 1)

# List

In [ ]:
# For the next few questions, you will need the following list:

B=["a","b","c"]

In [ ]:
# Find the first two elements of the list  B:

B[0:2]

['a', 'b']

In [ ]:
# Change the first element of the list to an uppercase "A".

B[0]='A'
print(B)

['A', 'b', 'c']

# Quiz on Tuples

In [ ]:
# Consider the following tuple:

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
# Find the length of the tuple, genres_tuple:

len(genres_tuple)

8

In [ ]:
# Access the element, with respect to index 3:

genres_tuple[3]

'hard rock'

In [ ]:
# Use slicing to obtain indexes 3, 4 and 5:

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [ ]:
# Find the first two elements of the tuple genres_tuple:

genres_tuple[:2]

('pop', 'rock')

In [ ]:
# Find the first index of "disco":

genres_tuple.index("disco")

7

In [ ]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

C_tuple=(-5,1,-3)
C_list=sorted(C_tuple)
C_list

[-5, -3, 1]

# Quiz on List

In [ ]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

a_list=[1,'hello',[1,2,3]]
a_list

[1, 'hello', [1, 2, 3]]

In [ ]:
# Find the value stored at index 1 of a_list.

a_list[1]

'hello'

In [ ]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.

a_list[1:4]

['hello', [1, 2, 3]]

In [ ]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

# Cast a List to a Set

In [ ]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

# Add an Element to the Set

In [ ]:
# Add the string 'D' to the set S.

S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

# Intersection of Sets

In [ ]:
# Find the intersection of set A and B.

A={1,2,3,4,5}
B={1,3,9, 12}

A & B

{1, 3}

# Quiz on Sets

In [ ]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set:

set( ['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [ ]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("La suma de A es:",sum(A))
print("La suma de B es:",sum(B))

La suma de A es: 6
La suma de B es: 3

In [ ]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:


album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
# Find out if album_set1 is a subset of album_set3:

album_set1.issubset(album_set3)

True

# Quiz on Dictionaries

In [ ]:
# You will need this dictionary for the next two questions:

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [ ]:
# a) In the dictionary soundtrack_dic what are the keys ?

soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [ ]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [ ]:
# You will need this dictionary for the following questions:

# The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 
# and 65 respectively:

# a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

album_sales_dict={"Back in Blak":50,"Bodyguard":50,"Thriller":65}
album_sales_dict

{'Back in Blak': 50, 'Bodyguard': 50, 'Thriller': 65}

In [ ]:
# b) Use the dictionary to find the total sales of Thriller:

album_sales_dict["Thriller"]

65

In [ ]:
# Find the names of the albums from the dictionary using the method keys():

album_sales_dict.keys()

dict_keys(['Back in Blak', 'Bodyguard', 'Thriller'])

In [ ]:
# d) Find the values of the recording sales from the dictionary using the method values:

album_sales_dict.values()

dict_values([50, 50, 65])

# Quiz on Conditions

In [ ]:
# Write an if statement to determine if an album had a rating greater than 8.
# Test it using the rating for the album “Back in Black” that had a rating of 8.5.
# If the statement is true print "This album is Amazing!"

r=8.5
if r > 8:
    print("This album is Amazing!")

This album is Amazing!

In [ ]:
# Write an if-else statement that performs the following.
# If the rating is larger then eight print “this album is amazing”.
# If the rating is less than or equal to 8 print “this album is ok”.

r=8
if r > 8:
    print("This album is Amazing!")
else:
    print("this album is ok")

this album is ok

In [ ]:
# Write an if statement to determine if an album came out before 1980
# or in the years: 1991 or 1993.
# If the condition is true print out the year the album came out.

album = 1991

if album < 1980 or album == 1991 or album == 1993:
    print("This album came out in year", album)

This album came out in year 1991

# Quiz on Loops

In [ ]:
# Write a for loop the prints out all the element between -5 and 5 using the range function.

for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

In [ ]:
# Print the elements of the following list:
# Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
# Make sure you follow Python conventions.

Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for i in Genres:
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [ ]:
# Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i in squares:
    print(i)

red
yellow
green
purple
blue

In [ ]:
# Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings.
# If the score is less than 6, exit the loop.
# The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1
    Rating = PlayListRatings[i]

10
9.5
10
8
7.5

In [ ]:
# Write a while loop to copy the strings 'orange' of the list squares to the list new_squares.
# Stop and exit the loop if the value on the list is not 'orange':

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

# Quiz on Functions

In [ ]:
# Come up with a function that divides the first input by the second input:

def dividir(a, b):
    return(a/b)

dividir(30,3)

10.0

In [ ]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

In [ ]:
# Can the con function we defined before be used to add two integers or strings?

con('Hola ', 'Mundo')

'Hola Mundo'

In [ ]:
# Can the con function we defined before be used to concatenate lists or tuples?

con(['a',5],['b',7])

['a', 5, 'b', 7]

# Exercises

In [ ]:
# You have been recruited by your friend, a linguistics enthusiast,
# to create a utility tool that can perform analysis on a given piece of text.
# Complete the class 'analysedText' with the following methods -

# Constructor (__init__) - This method should take the argument text,
# make it lower case, and remove all punctuation.
# Assume only the following punctuation is used: period (.), 
# exclamation mark (!), comma (,) and question mark (?).
# Assign this newly formatted text to a new attribute called fmtText.

# freqAll - This method should create and return dictionary of all unique words in the text,
# along with the number of times they occur in the text.
# Each key in the dictionary should be the unique word appearing in the text and the associated
# value should be the number of times it occurs in the text. Create this dictionary from the fmtText attribute.

# freqOf - This method should take a word as an argument and return the number of occurrences of that word in fmtText.

# The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise.
# Hint: Some useful functions are replace(), lower(), split(), count()


class analysedText(object):
    
    def __init__ (self, text):
        # remueve . ! ? ,
        formattedText = text.replace('.','').replace('!','').replace('?','').replace(',','')
        
        # Texto en minusculas
        formattedText = formattedText.lower()
        
        self.fmtText = formattedText
        
    def freqAll(self):        
        # divide el texto en palabras
        wordList = self.fmtText.split(' ')
        
        # crea el diccionario y elimina duplicados
        freqMap = {}
        for word in set(wordList):
            freqMap[word] = wordList.count(word)
        
        return freqMap
    
    def freqOf(self,word):
        # obtiene la frecuencia
        freqDict = self.freqAll()
        
        if word in freqDict:
            return freqDict[word]
        else:
            return 0

In [ ]:
# You can run the code cell below to test your functions to ensure they are working correctly.
# First execute the code cell in which you implemented your solution, then execute the code cell to test your implementation.

import sys

sampleMap = {'eirmod': 1,'sed': 1, 'amet': 2, 'diam': 5, 'consetetur': 1, 'labore': 1, 'tempor': 1, 'dolor': 1, 'magna': 2, 'et': 3, 'nonumy': 1, 'ipsum': 1, 'lorem': 2}

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

print("Constructor: ")
try:
    samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
    print(testMsg(samplePassage.fmtText == "lorem ipsum dolor diam amet consetetur lorem magna sed diam nonumy eirmod tempor diam et labore et diam magna et diam amet"))
except:
    print("Error detected. Recheck your function " )
print("freqAll: ")
try:
    wordMap = samplePassage.freqAll()
    print(testMsg(wordMap==sampleMap))
except:
    print("Error detected. Recheck your function " )
print("freqOf: ")
try:
    passed = True
    for word in sampleMap:
        if samplePassage.freqOf(word) != sampleMap[word]:
            passed = False
            break
    print(testMsg(passed))
    
except:
    print("Error detected. Recheck your function  " )

Constructor:
Test Passed
freqAll:
Test Passed
freqOf:
Test Passed