<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793654/blob/main/Actividad8_IBM(Mod_5_MER).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ciencia y analítica de datos
## Actividad 8
### Cursos de IBM
### Data Analysis With Python
## Modulo 5
### Profesor: María de la Paz Rico Fernández
### Profesor Tutor: Roberto Antonio Guevara González
#### Bernardo Mijangos Flores
#### Matricula A01793654
##Laboratorio 5

# Evaluación y refinamiento de modelos predictivos

In [10]:
# obtenemos las librerias necesarias para este laboratorio

import pandas as pd
import numpy as np

from ipywidgets import interact, interactive, fixed, interact_manual   # librerias para el plotting

from sklearn.model_selection import train_test_split  #libreria para dividr los datoa aleatoriamente

In [2]:
# obtenemos el dataset del laboratorio del siguiente link

path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/module_5_auto.csv'

In [14]:
# obtenemos el dataframe completo

df1 = pd.read_csv(path)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         201 non-null    int64
 1   Unnamed: 0.1       201 non-null    int64
 2   symboling          201 non-null    int64
 3   normalized-losses  201 non-null    int64
 4   make               201 non-null    object
 5   aspiration         201 non-null    object
 6   num-of-doors       201 non-null    object
 7   body-style         201 non-null    object
 8   drive-wheels       201 non-null    object
 9   engine-location    201 non-null    object
 10  wheel-base         201 non-null    float64
 11  length             201 non-null    float64
 12  width              201 non-null    float64
 13  height             201 non-null    float64
 14  curb-weight        201 non-null    int64
 15  engine-type        201 non-null    object
 16  num-of-cylinders   201 non-null    object
 17  engine-size        201 non-null    int64
 18  fuel-system        201 non-null    object
 19  bore               201 non-null    float64
 20  stroke             197 non-null    float64
 21  compression-ratio  201 non-null    float64
 22  horsepower         201 non-null    float64
 23  peak-rpm           201 non-null    float64
 24  city-mpg           201 non-null    int64
 25  highway-mpg        201 non-null    int64
 26  price              201 non-null    float64
 27  city-L/100km       201 non-null    float64
 28  horsepower-binned  200 non-null    object
 29  diesel             201 non-null    int64
 30  gas                201 non-null    int64
dtypes: float64(11), int64(10), object(10)
memory usage: 48.8+ KB

In [15]:
# obtenemos solo datos numericos

df=df1._get_numeric_data()
df.head()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
0,0,0,3,122,88.6,0.811148,0.890278,48.8,2548,130,...,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,0,1
1,1,1,3,122,88.6,0.811148,0.890278,48.8,2548,130,...,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,0,1
2,2,2,1,122,94.5,0.822681,0.909722,52.4,2823,152,...,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,0,1
3,3,3,2,164,99.8,0.848630,0.919444,54.3,2337,109,...,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,0,1
4,4,4,2,164,99.4,0.848630,0.922222,54.3,2824,136,...,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,0,1

# Funciones para plotting

In [6]:
def DistributionPlot(RedFunction, BlueFunction, RedName, BlueName, Title):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))

    ax1 = sns.distplot(RedFunction, hist=False, color="r", label=RedName)
    ax2 = sns.distplot(BlueFunction, hist=False, color="b", label=BlueName, ax=ax1)

    plt.title(Title)
    plt.xlabel('Price (in dollars)')
    plt.ylabel('Proportion of Cars')

    plt.show()
    plt.close()

In [7]:
def PollyPlot(xtrain, xtest, y_train, y_test, lr,poly_transform):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))
    
    
    #training data 
    #testing data 
    # lr:  linear regression object 
    #poly_transform:  polynomial transformation object 
 
    xmax=max([xtrain.values.max(), xtest.values.max()])

    xmin=min([xtrain.values.min(), xtest.values.min()])

    x=np.arange(xmin, xmax, 0.1)


    plt.plot(xtrain, y_train, 'ro', label='Training Data')
    plt.plot(xtest, y_test, 'go', label='Test Data')
    plt.plot(x, lr.predict(poly_transform.fit_transform(x.reshape(-1, 1))), label='Predicted Function')
    plt.ylim([-10000, 60000])
    plt.ylabel('Price')
    plt.legend()

# Paso 1:

Training y Testing

In [16]:
# obtenemos la etiqueta de price en y_data

y_data = df['price']

In [17]:
# quitamos price en el dataframe x_data

x_data=df.drop('price',axis=1)

In [19]:
# Dividimos aleatoriamente los datos en training y testing con la funcion train_test_split
# con el parametro test_size estable el 10% de los datos para testing

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.10, random_state=1)

print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 21
number of training samples: 180