<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793654/blob/main/Actividad2(IBM_Mod_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Actividad 2 (Cursos de IBM Modulo 4)
### Bernardo Mijangos Flores - A01793654

# Laboratorio - Lectura de archivos en python 4-1

## Ejercicios:

In [ ]:
# Lectura del archivo Example1.txt

example1 = "Example1.txt"
file1 = open(example1, "r")

In [ ]:
# imprime la ruta del archivo

file1.name

'Example1.txt'

In [ ]:
# Imprime el mode de lectura 'r' o escritura 'w'

file1.mode

'r'

In [ ]:
# Lectura del archivo

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Imprime el archivo con '\n' en una nueva linea

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Tipo de contenido

type(FileContent)

str

In [ ]:
# Cierra el archivo despues de finalizar

file1.close()

In [ ]:
# Una mejor manera de abrir un archivo

# Abre un archivo usando with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# verifica si el archivo esta cerrado

file1.closed

True

In [ ]:
# Muestra el contenido del archivo

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# lee los primeros cuatro caracteres

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
# Lee cierta cantidad de caracteres

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# Lee cierta cantidad de caracteres

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# Lee una linea

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # No lee mas alla del fnal de la linea
    print(file1.read(20)) # Devuelve los siguientes 20 caracteres

This is line 1

This is line 2
This

In [ ]:
# Iterar atravez de las lineas

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Lee todas las lineas y guarda una lista

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
# Imrpime la primer linea

FileasList[0]

'This is line 1 \n'

In [ ]:
# Imprime la segunda linea

FileasList[1]

'This is line 2\n'

In [ ]:
# Imprime la tercer linea

FileasList[2]

'This is line 3'

# Escritura y guardar archivos en Pyton 4-2

In [ ]:
# Escribir lineas y guardar

exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Lectura del archivo

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Escribe lineas al archivo

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Verifica la escritura del archivo

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# Ejemplo de listas

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Escribe las cadenas en la lista del archivo

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
# Verifica la escritura del archivo

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Hay que tener en cuenta que configurar el modo a 'w' sobrescribe todos los datos del archivo existente.

with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

# Archivos anexos

In [ ]:
# Escribe una nueva linea al archivo de texto

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [ ]:
# Verifica las nuevas filas del texto

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

In [ ]:
# Modos adicionales
# a+ : Crea un nuevo archivo si no existe

with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [ ]:
# No hubo errores pero read() tampoco generó nada. Esto se debe a nuestra ubicación en el archivo.
# A menudo es muy útil saber dónde está el 'cursor' en un archivo y poder controlarlo.
# Los siguientes métodos nos permiten hacer precisamente esto

# tell () - Devuelve la posición actual en bytes
# seek(offset,from) - cambia la posición por 'offset' bytes con respecto a 'from'.
# Puede tomar el valor de 0,1,2 correspondiente al principio, en relación con la posición actual y final

# Ahora volvamos a visitar A+

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

In [ ]:
# Finalmente, una nota sobre la diferencia entre W+ y R+.
# Sin embargo, ambos modos permiten el acceso a los métodos de lectura y escritura, abrir un archivo en W+
# lo sobrescribe y elimina todos los datos preexistentes.

with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [ ]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

# Copiar un archivo

In [ ]:
# Copia el archivo a otro

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# Verifica el archivo de copia

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

# Ejercicio

#### El club de fanáticos de Raptors de su universidad local mantiene un registro de sus miembros activos en un documento .txt. Cada mes actualizan el archivo eliminando a los miembros que no están activos. Se le ha encargado automatizar esto con sus habilidades de Python.
#### Dado el archivo CurrentMem, elimine a cada miembro con un 'no' en su columna activa. Realice un seguimiento de cada uno de los miembros eliminados y agregue al archivo EXMEM. Asegúrese de que el formato de los archivos originales en conservado. (Sugerencia: Haga esto leyendo/escribiendo líneas completas y asegurando que el encabezado permanezca)
#### Ejecute el bloque de código a continuación antes de comenzar el ejercicio. Se le ha proporcionado el código de esqueleto. Edite solo la función CleanFiles.

In [ ]:
# corra este codigo para iniciarl el ejercicio

from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
# Implemente el codigo cleanFile 

def cleanFiles(currentMem, exMem):
     # TODO: Open the currentMem file as in r+ mode
     with open(currentMem,'r+') as wrFile:
        #TODO: Open the exMem file in a+ mode
        with open(exMem,'a+') as apFile: 

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

            # agrega el dato
            wrFile.seek(0)
            members = wrFile.readlines()

            #quita el encabezado
            header = members[0]
            members.pop(0)

            inactive = [member for member in members if ('no' in member)]


        #TODO: iterate through the members and create a new list of the innactive members
        # Go to the beginning of the currentMem file

            # va al principio del arhivo
            wrFile.seek(0) 
            wrFile.write(header)

        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem

            for member in members:
                if (member in inactive):
                    apFile.write(member)
                else:
                    wrFile.write(member)      
            wrFile.truncate()
    
  #  pass # Remove this line when done implementation


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    12769      2017-9-22    yes
    63588      2015-3-11    yes
    74818      2016-1-8     yes
    60673      2016-7-16    yes
    35399      2015-8-7     yes
    82962      2017-10-12   yes
    26629      2020-12-21   yes
    67235      2017-5-12    yes
    65025      2015-2-19    yes
    69291      2020-6-23    yes

Inactive Members:


Membership No  Date Joined  Active
    91279      2019-2-2     no
    81427      2019-3-1     no
    17966      2019-12-11   no
    46284      2016-11-15   no
    58732      2019-9-19    no
    80392      2017-5-13    no
    99842      2018-11-2    no
    25132      2017-7-2     no
    34290      2015-1-19    no
    87215      2019-7-16    no
    27510      2016-4-20    no
    12104      2016-8-15    no
    67106      2015-9-6     no

In [ ]:
# La celda de código a continuación es verificar su solución. No modifique el código y lo ejecute para probar su implementación de CleanFiles.

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

# Introducción a Pandas en Python

In [6]:
# Lee el archivo CSV

import pandas as pd

filename = "TopSellingAlbums.csv"
df = pd.read_csv("TopSellingAlbums.csv")

In [7]:
# Imprime los primeros cinco registros del dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [9]:
# Lee el archivo de Excel e imprime los primeros cinco registros

xlsx_path = 'TopSellingAlbums.xlsx'

df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [11]:
# Acceso a la columna Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [14]:
# Obtiene los datos de la columna como una serie

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [15]:
# Obtiene los datos de la columna como un dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [16]:
# acceso a multiples columnas

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [17]:
# Acceso al valor en la primera fila y la primera columna

df.iloc[0, 0]

'Michael Jackson'

In [19]:
# Acceso al valor de la segunda linea y la primer columna

df.iloc[1,0]

'AC/DC'

In [20]:
# Acceso al valor de la primer linea y la tercer columna

df.iloc[0,2]

1982

In [21]:
# Acceso al valor de la segunda linea y la tercer columna

df.iloc[1,2]

1980

In [22]:
# Acceso de la columna usando el nombre

df.loc[0, 'Artist']

'Michael Jackson'

In [25]:
df.loc[1, 'Artist']

'AC/DC'

In [26]:
df.loc[0, 'Released']

1982

In [27]:
df.loc[1, 'Released']

1980

In [28]:
# Se puede utilizar cortes 'slicing' utilizando tanto el indice como el nombre de la columna:

# cortes del dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [29]:
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

# Quiz on DataFrame

In [32]:
# Use la variable q para almacenar los datos de la columna Rating en un dataframe

q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [33]:
# use la variable q para almacenar los datos compuestos por la columna Released y Artist

q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [34]:
# Accesa al dato de la segunda linea y la tercer columan del dataframe

df.iloc[1,2]

1980

In [35]:
# Use la siguiente lista para comvertir el dataframe index df en caracteres y asignarla en df_new;
# Encuentre el elemento correspondiente al indice de la la fila a y la columna 'Artist'
# Luego selecciones la fila A a D para la columna 'Artist'

new_index=['a','b','c','d','e','f','g','h']

df2 = df
df2.index=new_index
df2.loc['a','Artist']
df2.loc['a':'d','Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object