# Exercise: Your First Program

In [1]:
# In the code cell below, use the print() function to print out the phrase: Hello, world!

print("Helo, world!")

Helo, world!

In [2]:
# Now, let's enhance your code with a comment.
# In the code cell below, print out the phrase: Hello, world!
# and comment it with the phrase Print the traditional hello world all in one line of code.

print("Hello, world!")  # Print the traditional hello world

Hello, world!

# Exercise: Types

In [3]:
# What is the data type of the result of: 6 / 2?

type(6/2)

float

In [4]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)

type(6//2)

int

# Exercise: Expression and Variables in Python

In [7]:
# What is the value of x where x = 3 + 2 * 2

x=3+2*2
print(x)

7

In [5]:
# What is the value of x where x = 3 + 2 * 2

y=(3+2)*2
print(y)

10

In [8]:
# What is the value of z where z = x + y?

z=x+y
print(z)

17

# Quiz on Strings

In [9]:
# What is the value of the variable a after the following code is executed?

a = "1"

In [10]:
# What is the value of the variable b after the following code is executed?

b = "2"

In [11]:
# What is the value of the variable c after the following code is executed?

c = a + b
print(c)

12

In [12]:
# Consider the variable d use slicing to print out the first three elements:

d = "ABCDEFG"

print(d[:3])

ABC

In [13]:
# Use a stride value of 2 to print out every second character of the string e:

e = 'clocrkr1e1c1t'

print(e[::2])

correct

In [14]:
# Print out a backslash:

print(r"\ ")

\

In [15]:
# Convert the variable f to uppercase:

f = "You are wrong"

f.upper()

'YOU ARE WRONG'

In [16]:
# Consider the variable g, and find the first index of the sub-string snow:

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

In [17]:
# In the variable g, replace the sub-string Mary with Bob:

g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

# Create a Tuple

In [26]:
# Create a tuple  (0,1,2,3)  and assign it to variable A:

A=(0,1,2,3)
print(A)

(0, 1, 2, 3)

# Find the Elements of a Tuple

In [27]:
# Find the first two elements of tuple  A :

A[0:2]

(0, 1)

# List

In [28]:
# For the next few questions, you will need the following list:

B=["a","b","c"]

In [29]:
# Find the first two elements of the list  B:

B[0:2]

['a', 'b']

In [30]:
# Change the first element of the list to an uppercase "A".

B[0]='A'
print(B)

['A', 'b', 'c']

# Quiz on Tuples

In [31]:
# Consider the following tuple:

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [32]:
# Find the length of the tuple, genres_tuple:

len(genres_tuple)

8

In [33]:
# Access the element, with respect to index 3:

genres_tuple[3]

'hard rock'

In [34]:
# Use slicing to obtain indexes 3, 4 and 5:

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [35]:
# Find the first two elements of the tuple genres_tuple:

genres_tuple[:2]

('pop', 'rock')

In [36]:
# Find the first index of "disco":

genres_tuple.index("disco")

7

In [37]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

C_tuple=(-5,1,-3)
C_list=sorted(C_tuple)
C_list

[-5, -3, 1]

# Quiz on List

In [38]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

a_list=[1,'hello',[1,2,3]]
a_list

[1, 'hello', [1, 2, 3]]

In [39]:
# Find the value stored at index 1 of a_list.

a_list[1]

'hello'

In [40]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.

a_list[1:4]

['hello', [1, 2, 3]]

In [41]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

# Cast a List to a Set

In [3]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

# Add an Element to the Set

In [4]:
# Add the string 'D' to the set S.

S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

# Intersection of Sets

In [5]:
# Find the intersection of set A and B.

A={1,2,3,4,5}
B={1,3,9, 12}

A & B

{1, 3}

# Quiz on Sets

In [8]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set:

set( ['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [10]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("La suma de A es:",sum(A))
print("La suma de B es:",sum(B))

La suma de A es: 6
La suma de B es: 3

In [15]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:


album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [16]:
# Find out if album_set1 is a subset of album_set3:

album_set1.issubset(album_set3)

True

# Quiz on Dictionaries

In [21]:
# You will need this dictionary for the next two questions:

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [22]:
# a) In the dictionary soundtrack_dic what are the keys ?

soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [24]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [26]:
# You will need this dictionary for the following questions:

# The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 
# and 65 respectively:

# a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

album_sales_dict={"Back in Blak":50,"Bodyguard":50,"Thriller":65}
album_sales_dict

{'Back in Blak': 50, 'Bodyguard': 50, 'Thriller': 65}

In [28]:
# b) Use the dictionary to find the total sales of Thriller:

album_sales_dict["Thriller"]

65

In [29]:
# Find the names of the albums from the dictionary using the method keys():

album_sales_dict.keys()

dict_keys(['Back in Blak', 'Bodyguard', 'Thriller'])

In [30]:
# d) Find the values of the recording sales from the dictionary using the method values:

album_sales_dict.values()

dict_values([50, 50, 65])