<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-bmijangos/blob/main/Actividad2(IBM_Mod_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Actividad 2 (Cursos de IBM Modulo 4)
### Bernardo Mijangos Flores - A01793654

## Ejercicios:

In [1]:
# Your local university's Raptors fan club maintains a register of its active members on a .txt document.
# Every month they update the file by removing the members who are not active.
# You have been tasked with automating this with your Python skills.
# Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file.
# Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
# Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [3]:
# Now that you've run the prerequisite code cell above, which prepared the files for this exercise, you are ready to move on to the implementation.

# Exercise: Implement the cleanFiles function in the code cell below.

'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
     # TODO: Open the currentMem file as in r+ mode
     with open(currentMem,'r+') as wrFile:
        #TODO: Open the exMem file in a+ mode
        with open(exMem,'a+') as apFile: 

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

            # agrega el dato
            wrFile.seek(0)
            members = wrFile.readlines()

            #quita el encabezado
            header = members[0]
            members.pop(0)

            inactive = [member for member in members if ('no' in member)]


        #TODO: iterate through the members and create a new list of the innactive members
        # Go to the beginning of the currentMem file

            # va al principio del arhivo
            wrFile.seek(0) 
            wrFile.write(header)

        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem

            for member in members:
                if (member in inactive):
                    apFile.write(member)
                else:
                    wrFile.write(member)      
            wrFile.truncate()

  #  pass # Remove this line when done implementation


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    18602      2019-3-15    yes
    78009      2016-11-6    yes
    59398      2019-9-10    yes
    56285      2019-6-21    yes
    90438      2017-9-22    yes
    78713      2020-2-4     yes

Inactive Members:


Membership No  Date Joined  Active
    35674      2019-7-12    no
    29165      2018-6-13    no
    80735      2017-8-11    no
    45400      2017-12-21   no
    59635      2017-2-6     no
    21286      2017-1-9     no
    86644      2016-2-4     no
    46769      2020-10-6    no
    47576      2017-1-1     no
    57909      2020-3-6     no
    48252      2015-1-15    no
    99871      2015-5-7     no
    17590      2015-9-12    no
    89787      2015-1-3     no
    67786      2020-11-2    no
    15544      2015-12-12   no
    17482      2020-3-12    no

In [4]:
# The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of cleanFiles.

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

# Get to Know a Pandas Array

In [6]:
# You will use the dataframe df for the following:

import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [13]:
# Display the first three rows:

df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [15]:
# Obtain column  'a' :

df['a']

0    11
1    21
2    31
Name: a, dtype: int64

# Get to Know a Pandas Array

In [18]:
# You will use the dataframe df for the following:

import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [19]:
# Find the unique values in column  'a' :

df['a'].unique()

array([1, 2])

In [23]:
# Return a dataframe with only the rows where column  a  is less than two:

df[df['a']>2]

Empty DataFrame
Columns: [a, b]
Index: []