<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793654/blob/main/Reto_Aguas_subterraneas_E1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
path = "/content/drive/MyDrive/DataSet/Datos_agua_subterraneas_2020.csv"
df = pd.read_csv(path,encoding='latin-1')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 57 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            1066 non-null   object
 16  CALIDAD_SDT_ra        1066 non-null   object
 17  CALIDAD_SDT_salin     1066 non-null   object
 18  FLUORUROS_mg/L        1068 non-null   object
 19  CALIDAD_FLUO          1068 non-null   object
 20  DUR_mg/L              1067 non-null   object
 21  CALIDAD_DUR           1067 non-null   object
 22  COLI_FEC_NMP/100_mL   1068 non-null   object
 23  CALIDAD_COLI_FEC      1068 non-null   object
 24  N_NO3_mg/L            1067 non-null   object
 25  CALIDAD_N_NO3         1067 non-null   object
 26  AS_TOT_mg/L           1068 non-null   object
 27  CALIDAD_AS            1068 non-null   object
 28  CD_TOT_mg/L           1068 non-null   object
 29  CALIDAD_CD            1068 non-null   object
 30  CR_TOT_mg/L           1068 non-null   object
 31  CALIDAD_CR            1068 non-null   object
 32  HG_TOT_mg/L           1068 non-null   object
 33  CALIDAD_HG            1068 non-null   object
 34  PB_TOT_mg/L           1068 non-null   object
 35  CALIDAD_PB            1068 non-null   object
 36  MN_TOT_mg/L           1068 non-null   object
 37  CALIDAD_MN            1068 non-null   object
 38  FE_TOT_mg/L           1068 non-null   object
 39  CALIDAD_FE            1068 non-null   object
 40  SEMAFORO              1068 non-null   object
 41  CONTAMINANTES         634 non-null    object
 42  CUMPLE_CON_ALC        1068 non-null   object
 43  CUMPLE_CON_COND       1068 non-null   object
 44  CUMPLE_CON_SDT_ra     1068 non-null   object
 45  CUMPLE_CON_SDT_salin  1068 non-null   object
 46  CUMPLE_CON_FLUO       1068 non-null   object
 47  CUMPLE_CON_DUR        1068 non-null   object
 48  CUMPLE_CON_CF         1068 non-null   object
 49  CUMPLE_CON_NO3        1068 non-null   object
 50  CUMPLE_CON_AS         1068 non-null   object
 51  CUMPLE_CON_CD         1068 non-null   object
 52  CUMPLE_CON_CR         1068 non-null   object
 53  CUMPLE_CON_HG         1068 non-null   object
 54  CUMPLE_CON_PB         1068 non-null   object
 55  CUMPLE_CON_MN         1068 non-null   object
 56  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(5), int64(1), object(51)
memory usage: 475.7+ KB

In [8]:
df.columns

Index(['CLAVE', 'SITIO', 'ORGANISMO_DE_CUENCA', 'ESTADO', 'MUNICIPIO',
       'ACUIFERO', 'SUBTIPO', 'LONGITUD', 'LATITUD', 'PERIODO', 'ALC_mg/L',
       'CALIDAD_ALC', 'CONDUCT_mS/cm', 'CALIDAD_CONDUC', 'SDT_mg/L',
       'SDT_M_mg/L', 'CALIDAD_SDT_ra', 'CALIDAD_SDT_salin', 'FLUORUROS_mg/L',
       'CALIDAD_FLUO', 'DUR_mg/L', 'CALIDAD_DUR', 'COLI_FEC_NMP/100_mL',
       'CALIDAD_COLI_FEC', 'N_NO3_mg/L', 'CALIDAD_N_NO3', 'AS_TOT_mg/L',
       'CALIDAD_AS', 'CD_TOT_mg/L', 'CALIDAD_CD', 'CR_TOT_mg/L', 'CALIDAD_CR',
       'HG_TOT_mg/L', 'CALIDAD_HG', 'PB_TOT_mg/L', 'CALIDAD_PB', 'MN_TOT_mg/L',
       'CALIDAD_MN', 'FE_TOT_mg/L', 'CALIDAD_FE', 'SEMAFORO', 'CONTAMINANTES',
       'CUMPLE_CON_ALC', 'CUMPLE_CON_COND', 'CUMPLE_CON_SDT_ra',
       'CUMPLE_CON_SDT_salin', 'CUMPLE_CON_FLUO', 'CUMPLE_CON_DUR',
       'CUMPLE_CON_CF', 'CUMPLE_CON_NO3', 'CUMPLE_CON_AS', 'CUMPLE_CON_CD',
       'CUMPLE_CON_CR', 'CUMPLE_CON_HG', 'CUMPLE_CON_PB', 'CUMPLE_CON_MN',
       'CUMPLE_CON_FE'],
      dtype='object')

In [21]:
df.drop(columns={'SDT_mg/L'}, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 56 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_M_mg/L            1066 non-null   object
 15  CALIDAD_SDT_ra        1066 non-null   object
 16  CALIDAD_SDT_salin     1066 non-null   object
 17  FLUORUROS_mg/L        1068 non-null   object
 18  CALIDAD_FLUO          1068 non-null   object
 19  DUR_mg/L              1067 non-null   object
 20  CALIDAD_DUR           1067 non-null   object
 21  COLI_FEC_NMP/100_mL   1068 non-null   object
 22  CALIDAD_COLI_FEC      1068 non-null   object
 23  N_NO3_mg/L            1067 non-null   object
 24  CALIDAD_N_NO3         1067 non-null   object
 25  AS_TOT_mg/L           1068 non-null   object
 26  CALIDAD_AS            1068 non-null   object
 27  CD_TOT_mg/L           1068 non-null   object
 28  CALIDAD_CD            1068 non-null   object
 29  CR_TOT_mg/L           1068 non-null   object
 30  CALIDAD_CR            1068 non-null   object
 31  HG_TOT_mg/L           1068 non-null   object
 32  CALIDAD_HG            1068 non-null   object
 33  PB_TOT_mg/L           1068 non-null   object
 34  CALIDAD_PB            1068 non-null   object
 35  MN_TOT_mg/L           1068 non-null   object
 36  CALIDAD_MN            1068 non-null   object
 37  FE_TOT_mg/L           1068 non-null   object
 38  CALIDAD_FE            1068 non-null   object
 39  SEMAFORO              1068 non-null   object
 40  CONTAMINANTES         634 non-null    object
 41  CUMPLE_CON_ALC        1068 non-null   object
 42  CUMPLE_CON_COND       1068 non-null   object
 43  CUMPLE_CON_SDT_ra     1068 non-null   object
 44  CUMPLE_CON_SDT_salin  1068 non-null   object
 45  CUMPLE_CON_FLUO       1068 non-null   object
 46  CUMPLE_CON_DUR        1068 non-null   object
 47  CUMPLE_CON_CF         1068 non-null   object
 48  CUMPLE_CON_NO3        1068 non-null   object
 49  CUMPLE_CON_AS         1068 non-null   object
 50  CUMPLE_CON_CD         1068 non-null   object
 51  CUMPLE_CON_CR         1068 non-null   object
 52  CUMPLE_CON_HG         1068 non-null   object
 53  CUMPLE_CON_PB         1068 non-null   object
 54  CUMPLE_CON_MN         1068 non-null   object
 55  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(4), int64(1), object(51)
memory usage: 467.4+ KB

In [28]:
df.CONTAMINANTES.unique()

array([nan, 'FLUO,AS,', 'NO3,', 'CF,', 'CONDUC,NO3,', 'DT,CF,AS,MN,FE,',
       'CONDUC,SDT_ra,SDT_salin,DT,AS,', 'AS,', 'DT,CF,PB,FE,',
       'CONDUC,SDT_ra,SDT_salin,DT,', 'CONDUC,AS,FE,', 'CONDUC,',
       'CF,FE,', 'FE,', 'DT,NO3,', 'DT,CR,FE,', 'CF,FE,NO3,',
       'CONDUC,SDT_ra,SDT_salin,DT,CF,FE,',
       'CONDUC,SDT_ra,SDT_salin,DT,FE,', 'CONDUC,DT,',
       'CONDUC,SDT_ra,SDT_salin,DT,CF,NO3,',
       'CONDUC,SDT_ra,SDT_salin,DT,FE,NO3,', 'CONDUC,DT,CF,', 'FLUO,CF,',
       'DT,', 'FLUO,', 'FLUO,DT,', 'CONDUC,SDT_ra,SDT_salin,FLUO,',
       'CR,FE,', 'ALC,', 'SDT_ra,SDT_salin,DT,MN,FE,', 'FLUO,FE,',
       'FLUO,CF,AS,', 'DT,FE,', 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,AS,NO3,',
       'CONDUC,SDT_ra,SDT_salin,DT,AS,NO3,', 'FLUO,DT,AS,',
       'FLUO,CF,AS,FE,', 'FE,NO3,', 'ALC,FLUO,',
       'ALC,CONDUC,SDT_ra,SDT_salin,DT,FE,NO3,',
       'CONDUC,SDT_ra,SDT_salin,FLUO,DT,',
       'CONDUC,SDT_ra,SDT_salin,FLUO,DT,NO3,',
       'CONDUC,SDT_ra,SDT_salin,DT,CF,',
       'CONDUC,SDT_ra,SDT_salin,DT,NO3,', 'CR,', 'CONDUC,DT,FE,',
       'ALC,CONDUC,DT,', 'CONDUC,DT,NO3,',
       'ALC,CONDUC,SDT_ra,SDT_salin,DT,MN,FE,', 'MN,', 'CF,PB,', 'CF,MN,',
       'CF,MN,FE,', 'ALC,FLUO,AS,', 'AS,FE,', 'DT,AS,NO3,',
       'CONDUC,DT,AS,', 'FLUO,AS,FE,', 'ALC,AS,FE,', 'PB,MN,FE,',
       'ALC,CONDUC,SDT_ra,SDT_salin,FLUO,DT,MN,FE,',
       'ALC,CONDUC,SDT_ra,SDT_salin,FLUO,DT,AS,MN,FE,',
       'ALC,CONDUC,SDT_ra,SDT_salin,DT,NO3,', 'ALC,FLUO,AS,FE,', 'MN,FE,',
       'ALC,AS,MN,FE,', 'ALC,MN,', 'NI,FE,', 'CONDUC,MN,FE,',
       'ALC,DT,FE,', 'CONDUC,PB,FE,', 'PB,FE,', 'CONDUC,FLUO,DT,',
       'ALC,DT,', 'ALC,CONDUC,', 'ALC,CONDUC,AS,MN,', 'AS,MN,FE,',
       'DT,PB,', 'PB,', 'CONDUC,SDT_ra,SDT_salin,DT,HG,MN,FE,',
       'ALC,CONDUC,DT,NO3,', 'DT,MN,', 'MN,NO3,', 'ALC,CF,',
       'FLUO,MN,FE,', 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,PB,',
       'CF,CD,MN,FE,', 'ALC,FE,', 'CONDUC,SDT_ra,SDT_salin,DT,AS,FE,',
       'ALC,FLUO,AS,NO3,', 'SDT_ra,SDT_salin,DT,NO3,',
       'ALC,SDT_ra,SDT_salin,DT,MN,FE,', 'SDT_ra,SDT_salin,DT,CR,',
       'CONDUC,FLUO,NO3,', 'CONDUC,DT,CF,AS,NO3,', 'AS,NO3,',
       'CONDUC,FE,NO3,', 'CONDUC,SDT_ra,SDT_salin,DT,AS,MN,',
       'CONDUC,DT,CD,', 'DT,CF,', 'CONDUC,FLUO,DT,CF,', 'DT,MN,FE,',
       'CONDUC,SDT_ra,SDT_salin,CR,', 'CONDUC,FE,', 'CR,MN,FE,',
       'CONDUC,SDT_ra,SDT_salin,FLUO,DT,FE,', 'ALC,DT,AS,MN,',
       'FLUO,AS,NO3,', 'ALC,MN,FE,', 'CF,NO3,',
       'ALC,CONDUC,SDT_ra,SDT_salin,FLUO,NO3,', 'CONDUC,FLUO,FE,',
       'SDT_ra,SDT_salin,DT,MN,', 'SDT_ra,SDT_salin,DT,FE,',
       'SDT_ra,SDT_salin,DT,', 'CONDUC,SDT_ra,SDT_salin,', 'ALC,DT,MN,',
       'CONDUC,SDT_ra,SDT_salin,DT,MN,FE,', 'ALC,CONDUC,DT,MN,NO3,',
       'ALC,NO3,', 'CONDUC,DT,MN,FE,', 'CR,MN,', 'FLUO,CR,FE,',
       'CR,NI,FE,', 'AS,CR,', 'ALC,DT,NO3,'], dtype=object)

In [29]:
df.CONTAMINANTES.value_counts()/df.CONTAMINANTES.count()*100

FLUO,                                            12.302839
DT,                                              10.252366
FLUO,AS,                                          8.044164
CF,                                               4.889590
AS,                                               4.889590
                                                   ...
ALC,CONDUC,SDT_ra,SDT_salin,DT,NO3,               0.157729
ALC,CONDUC,SDT_ra,SDT_salin,FLUO,DT,AS,MN,FE,     0.157729
PB,MN,FE,                                         0.157729
ALC,AS,FE,                                        0.157729
ALC,DT,NO3,                                       0.157729
Name: CONTAMINANTES, Length: 126, dtype: float64

In [33]:
df.CONTAMINANTES

0                  NaN
1                  NaN
2             FLUO,AS,
3                  NaN
4                 NO3,
             ...
1063    CONDUC,DT,NO3,
1064              NO3,
1065    CONDUC,DT,NO3,
1066               NaN
1067               NaN
Name: CONTAMINANTES, Length: 1068, dtype: object

In [23]:
path = "/content/drive/MyDrive/DataSet/Datos_agua_superficiales_2020.csv"
dfs = pd.read_csv(path,encoding='latin-1')

In [24]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CLAVE                   3493 non-null   object
 1   SITIO                   3493 non-null   object
 2   ORGANISMO_DE_CUENCA     3493 non-null   object
 3   ESTADO                  3493 non-null   object
 4   MUNICIPIO               3493 non-null   object
 5   CUENCA                  3492 non-null   object
 6   CUERPO DE AGUA          3479 non-null   object
 7   TIPO                    3493 non-null   object
 8   SUBTIPO                 3479 non-null   object
 9   LONGITUD                3493 non-null   float64
 10  LATITUD                 3493 non-null   float64
 11  PERIODO                 3493 non-null   float64
 12  DBO_mg/L                2581 non-null   object
 13  CALIDAD_DBO             2581 non-null   object
 14  DQO_mg/L                2581 non-null   object
 15  CALIDAD_DQO             2581 non-null   object
 16  SST_mg/L                3489 non-null   object
 17  CALIDAD_SST             3489 non-null   object
 18  COLI_FEC_NMP_100mL      2582 non-null   object
 19  CALIDAD_COLI_FEC        2582 non-null   object
 20  E_COLI_NMP_100mL        2582 non-null   object
 21  CALIDAD_E_COLI          2582 non-null   object
 22  ENTEROC_NMP_100mL       904 non-null    object
 23  CALIDAD_ENTEROC         904 non-null    object
 24  OD_PORC                 1797 non-null   object
 25  CALIDAD_OD_PORC         1797 non-null   object
 26  OD_PORC_SUP             1619 non-null   object
 27  CALIDAD_OD_PORC_SUP     1619 non-null   object
 28  OD_PORC_MED             487 non-null    object
 29  CALIDAD_OD_PORC_MED     487 non-null    object
 30  OD_PORC_FON             946 non-null    object
 31  CALIDAD_OD_PORC_FON     946 non-null    object
 32  TOX_D_48_UT             1816 non-null   object
 33  CALIDAD_TOX_D_48        1816 non-null   object
 34  TOX_V_15_UT             1819 non-null   object
 35  CALIDAD_TOX_V_15        1819 non-null   object
 36  TOX_D_48_SUP_UT         762 non-null    object
 37  CALIDAD TOX_D_48_SUP    762 non-null    object
 38  TOX_D_48_FON_UT         0 non-null      float64
 39  CALIDAD_TOX_D_48_FON    0 non-null      float64
 40  TOX_FIS_SUP_15_UT       1674 non-null   object
 41  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 42  TOX_FIS_FON_15_UT       0 non-null      float64
 43  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 44  SEMAFORO                3493 non-null   object
 45  CONTAMINANTES           2226 non-null   object
 46  CUMPLE_CON_DBO          3493 non-null   object
 47  CUMPLE_CON_DQO          3493 non-null   object
 48  CUMPLE_CON_SST          3493 non-null   object
 49  CUMPLE_CON_CF           3493 non-null   object
 50  CUMPLE_CON_E_COLI       3493 non-null   object
 51  CUMPLE_CON_ENTEROC      3493 non-null   object
 52  CUMPLE_CON_OD           3493 non-null   object
 53  CUMPLE_CON_TOX          3493 non-null   object
 54  GRUPO                   3493 non-null   object
dtypes: float64(7), object(48)
memory usage: 1.7+ MB